#container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffd7fa;
    align-items: center;
    font-family:'Trebuchet MS';
    font-style:oblique;
    font-size: small;
}

#input_pais{
    width: 70%;
    height: 30px;
    border-radius: 10px;
    font-size: x-large;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ffd7fa;
    border-color: rgb(212, 0, 255);
}

#button_search{
    width: 40%;
    height: 30px;
    border-radius: 8px;
    margin-top: 15px;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-color: rgb(212, 0, 255);
    background-color: rgb(228, 170, 228);
}
